<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" />
<title>銀行のアプリ</title>
</head>
<body>
	<div class="container">
		<!-- ヘッダー -->
		<nav th:insert="include/user-header::user-header"></nav>
		<!-- ヘッダー -->

		<!-- 銀行名, 口座番号 -->
		<div class="card mt-3 col-3">
			<div class="card-body text-center">
				<span> 口座番号: <span th:text="${session.user.accountNumber}">0000000</span>
				</span>
			</div>
		</div>


		<!-- 取引履歴 -->
		<div class="row col-10 offset-1 mb-5">
			<table class="table table-striped table-hover mt-5">
				<thead>
					<tr>
						<th>日付</th>
						<th>お支払い</th>
						<th>お預かり</th>
						<th>差引残高</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction:${session.transferList}">
						<td th:text="${transaction.tradeDate}">date</td>
						<td
							th:if="${transaction.withdrawalAccount == session.user.accountNumber}"
							th:text="${#numbers.formatInteger(transaction.amount, 1, 'COMMA')}">withdrawal</td>
						<td
							th:unless="${transaction.withdrawalAccount == session.user.accountNumber}"></td>
						<td
							th:if="${transaction.depositAccount == session.user.accountNumber}"
							th:text="${#numbers.formatInteger(transaction.amount, 1, 'COMMA')}">deposit</td>
						<td
							th:unless="${transaction.depositAccount == session.user.accountNumber}"></td>
						<td
							th:if="${transaction.withdrawalAccount == session.user.accountNumber}"
							th:text="${#numbers.formatInteger(transaction.withdrawalAmount, 1, 'COMMA')}">withdrawalAmount</td>
						<td
							th:if="${transaction.depositAccount == session.user.accountNumber}"
							th:text="${#numbers.formatInteger(transaction.depositAmount, 1, 'COMMA')}">depositAmount</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 取引履歴 -->

	</div>
</body>
</html>