<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<title>銀行のアプリ</title>
</head>
<body>
	<!-- <script
		src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<lottie-player
		src="https://assets3.lottiefiles.com/private_files/lf30_xifi44d7.json"
		background="transparent" speed="1" style="width: auto; height: 100%;"
		loop autoplay></lottie-player> -->
</body>
</html>