<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<title>銀行のアプリ</title>
</head>
<body>
	<div class="container">

		<!-- header -->
		<nav th:replace="include/login-header::login-header"></nav>
		<!-- header -->
		
		<div th:if="${user != null}" class="my-5 col-4 offset-4">
			<div class="alert alert-success text-center" role="alert">
				<span><span th:text="${user.bankName}">sample銀行</span>へようこそ</span><br>
				<span>あなたの口座番号: <span th:text="${user.accountNumber}">accountNumber</span></span>
			</div>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="card col-lg-8">
				<div class="cardbody">
					<!-- form -->
					<form th:action="@{/login}" th:object="${loginForm}" class="m-5"
						method="post">

						<!-- ログイン失敗時に表示 -->
						<div th:if="${errorMessage != null}" class="row offset-2">
							<div class="alert alert-danger col-10 text-center" role="alert">
								口座番号またはパスワードが違います</div>
						</div>

						<!-- 口座番号 -->
						<div class="row mb-3">
							<label for="accountNumber" class="col-sm-2 col-form-label">口座番号</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									th:field="*{accountNumber}" />
							</div>
						</div>

						<!-- パスワード -->
						<div class="row mb-3">
							<label for="password" class="col-sm-2 col-form-label">パスワード</label>
							<div class="col-sm-10">
								<input type="password" class="form-control"
									th:field="*{password}" />
							</div>
						</div>

						<!-- ログイン処理 -->
						<div class="d-grid gap-2 col-4 mx-auto">
							<button class="btn btn-primary" type="submit">ログイン</button>

							<!-- 口座開設ページへ遷移 -->
							<a th:href="@{/makeAccountPage}" type="button"
								class="btn btn-outline-secondary"> 新規口座開設 </a>
						</div>
					</form>
					<!-- form -->

				</div>
			</div>
		</div>
	</div>

</body>
</html>